@use 'base.scss';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: base.$bg-color;
  background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;  
  background-size: cover;

  color: base.$light;
}
.text-centered{
  text-align: center;
}
h1{
  text-align: center;
  padding-bottom: base.$spacing-3;
}
h2{
  text-transform: capitalize;
  text-align: center;
  font-size: 2rem;
}

button{
  color: base.$light;
  cursor: pointer;
  background-color: transparent;
  padding: .6rem 1.2rem;
  border: 1px solid base.$light;
}
button:hover, button:focus{
  background-color: base.$light;
  color: base.$dark;
}
.bottom-spacing-1{
  padding-bottom: base.$spacing-1;
}
.bottom-spacing-2{
  padding-bottom: base.$spacing-2;
}
.bottom-spacing-3{
  padding-bottom: base.$spacing-3;
}
.start-btn{
  margin-top: base.$spacing-3;
  width: 150px;
  justify-self: center;
}

.display-flex-row{
  display: flex;
  gap: base.$spacing-1;
}

.playerBoard{
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  max-width: 1100px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: base.$spacing-3;
}
// .banner{
//   display: flex;
//   justify-content: center;
//   padding: 3rem;
// }
// .display-wrapper{
//   display: grid;
//   padding: 1rem;
//   border: 1px solid base.$dark;
// }

// .buttons-container{
//   display: flex;
//   justify-content: center;
//   padding: 3rem;
//   gap: 1.2rem;
// }

// .boards-container{
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   align-items: center;
//   gap: 50px;
// }
// .game-container{
//   display: flex;
//   border: 1px solid green;
//   align-items: center;
//   justify-content: center;
//   gap: 30px;
// }


// .square{
//   border: 1px solid base.$dark;
// }
// .square:hover{
//   cursor: pointer;
//   background-color: lightgrey;
// }


// .message-log-container{
//   padding: 2.5rem 0;
// }

// .message-log-box{
//   border: 3px solid base.$dark;
//   width: 100%;
//   max-width: 500px;
//   height: 100px;
//   margin-inline: auto;
//   padding: .4rem .5rem;
//   overflow-y: scroll;
// }
// .hidden{
//   display: none;
// }
// .disabled{
//   background-color: gray;
//   color: white;
// }

// .player-menu{
//   display: flex;
//   gap: 10px;
//   flex-direction: column;
//   width: 150px;
//   button{
//     width: 100%;
//   }

//   .ship-buttons{
//     display: inherit;
//     flex-direction: column;
//     flex-wrap: wrap;
//     justify-content: center;
//     gap: 10px;

//   .ship-btn-container{
//     width: inherit;
//     }
   
//   @media (max-width: 55em)
//     {
//     flex-direction: row;
//     }
//   }
//   .orientation-container{
//     display: flex;
//     flex-direction: column;
//     gap: inherit;
//   }
// }
