$body-color: green;
$bg-color: #EEEEEE;
$dark: #31363F;
$color-font-dark: #222831;
$miss: #41C9E2;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  color: $color-font-dark;
    background-color: $bg-color;
}
h1{
  text-align: center;
}
h2{
  text-transform: capitalize;
  text-align: center;
  font-size: 2rem;
}
.banner{
  display: flex;
  justify-content: center;
  padding: 3rem;
}
.display-wrapper{
  display: grid;
  padding: 1rem;
  border: 1px solid $dark;
}

.buttons-container{
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.buttons-container button{
  cursor: pointer;
  background-color: transparent;
  padding: .6rem 1.2rem;
  border: 1px solid $dark;
}


.boards-container{
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 50px;
}

.gameboard{
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  height: 400px;
  width: 400px;
  gap: 2px;
  
}

.square{
  border: 1px solid $dark;
}
.square:hover{
  cursor: pointer;
  background-color: lightgrey;
}

.ship{
  background-color: $dark;
}

.hit{
  background-color: green;
}
.miss{
  background-color: $miss;
}